{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Tic Tac Toe</h1>
            <table id="{{ matchId }}">
                <tr>
                    {%  for i in 0..2 %}
                    <td data-position="{{ i }}" data-value="{{ state[i] }}"></td>
                    {%  endfor %}
                </tr>
                <tr>
                    {%  for i in 3..5 %}
                        <td data-position="{{ i }}" data-value="{{ state[i] }}"></td>
                    {%  endfor %}
                </tr>
                <tr>
                    {%  for i in 6..8 %}
                        <td data-position="{{ i }}" data-value="{{ state[i] }}"></td>
                    {%  endfor %}
                </tr>
            </table>
        </div>
    </div>
    <div id="message-container" class="hide">
        <div class="row">
            <div class="col-md-8">
                <div id="message-title"></div>
                <div id="message-text"></div>
            </div>
            <div class="col-md-4">
                <button id="reset-btn" type="button" class="btn btn-action pull-right"><i class="fas fa-sync"></i> play again</button>
            </div>
        </div>
    </div>
{% endblock %}