{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Tic Tac Toe</h1>
            <table id="{{ matchId }}">
                <tr>
                    {%  for i in 0..2 %}
                    <td data-position="{{ i }}" data-value="{{ state[i] }}"></td>
                    {%  endfor %}
                </tr>
                <tr>
                    {%  for i in 3..5 %}
                        <td data-position="{{ i }}" data-value="{{ state[i] }}"></td>
                    {%  endfor %}
                </tr>
                <tr>
                    {%  for i in 6..8 %}
                        <td data-position="{{ i }}" data-value="{{ state[i] }}"></td>
                    {%  endfor %}
                </tr>
            </table>
        </div>
    </div>

    <div id="result-container" class="row hide">
        <div class="col-md-4">
            <h2>Game over</h2>
            <div id="result"></div>
            <div id="winner" class="hide"></div>
        </div>
    </div>
{% endblock %}