<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/vendor/components-font-awesome/css/font-awesome.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/tictactoe.css') }}" rel="stylesheet" type="text/css" />

    <title>{% block title %}Tic Tac Toe!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <!-- page content -->
    <div class="container" role="main">
        {% block body %}{% endblock %}
    </div>

<script src="{{ asset('assets/vendor/gentelella/vendors/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('assets/vendor/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>

{% block javascripts %}{% endblock %}
</body>
</html>
